.leds {
  align-items: left;
  padding-left: 20px;
}

.led_1 {
  margin-bottom: 10px;
}

.led_2 {
  margin-bottom: 10px;
}

.led_3 {
  margin-bottom: 10px;
}

.led_4 {
  margin-bottom: 10px;
}

.visually-hidden { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.state-image {
  cursor: pointer; 
  width: 50px;
}
