{% args labels, pins, states%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="marx.css">
    <title>Pico W</title>
  </head>
  <body>
    <main>
      <h1> Pico W LED Demo </h1>
      <figure>
        <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
      </figure>

      <form action="" method="POST">

        <label ><strong>Choose LED(s):</strong></label>
        <label >
          <input type="checkbox" name="led" value="{{ labels[0] }}" {{ states[0] }}>
          {{ labels[0] }}
        </label>
        <label >
          <input type="checkbox" name="led" value="{{ labels[1] }}" {{ states[1] }}>
          {{ labels[1] }}
        </label>
        <label >
          <input type="checkbox" name="led" value="{{ labels[2] }}" {{ states[2] }}>
          {{ labels[2] }}
        </label>
        <label >
          <input type="checkbox" name="led" value="{{ labels[3] }}" {{ states[3] }}>
          {{ labels[3] }}
        </label>

        <div align="left">
          <input type="submit" value="Lights!">
        </div>

      </form>

      <div class="div-1"></div>

      <table>
          <thead>
              <tr>
                  <th colspan="2">LED/Pin Assignments</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th>Label</td>
                  <th>Pico Pin</td>
              </tr>
              <tr>
                  <td>{{ labels[0] }}</td>
                  <td>{{ pins[0] }}</td>
              </tr>
              <tr>
                  <td>{{ labels[1] }}</td>
                  <td>{{ pins[1] }}</td>
              </tr>
              <tr>
                  <td>{{ labels[2] }}</td>
                  <td>{{ pins[2] }}</td>
              </tr>
              <tr>
                  <td>{{ labels[3] }}</td>
                  <td>{{ pins[3] }}</td>
              </tr>
          </tbody>
      </table>

    </main>
  </body>
</html>
