<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pico W</title>
  </head>
  <body>
    <main class="container">
      <figure>
        <img src="computer.svg" height="400" width="400" alt="Pico W Icon" />
      </figure>

      <form action="" method="POST">

      <label class="label">Choose Level:</label>
      <label >
        <input type="radio" name="level" value="1">
        ON
      </label>
      <label >
        <input type="radio" name="level" value="0">
        OFF
      </label>
      <input class="button is-primary" type="submit" value="Lights!">

        </form>
    </main>
  </body>
</html>
