<!doctype html>
<html>
  <head>
    <title>Microdot WebSocket Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./mvp.css">
    <link rel="stylesheet" href="./style_v2ws.css">
  </head>
  <body>
    <main class="container">
      <div>
        <h1>LED WebSocket Demo</h1>
        <figure>
          <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
        </figure>
      </div>
      <div class="leds">
        <label>
          <input type="radio" name="state" value="on" class="visually-hidden">
          <img src="on.svg" class="state-image" height="100" width="100" alt="LED on" />
        </label>

        <label>
          <input type="radio" name="state" value="off" class="visually-hidden">
          <img src="off.svg" class="state-image" height="100" width="100" alt="LED off" />
        </label>
      </div>
    </main>
    <script>
      // connect to a WebSocket server at the 'ws' endpoint
      const socket = new WebSocket('ws://' + location.host + '/ws');

      // find all radio buttons with the input name of state
      const radios = document.querySelectorAll('input[name="state"]');

      // loop through all radio buttons adding an 'click' event listener
      // when button clicked, send specific value back to socket
      radios.forEach(radio => {
        radio.addEventListener('click', () => {
          socket.send(radio.value); 
        });
      });
      // add socket listener which sends message back to console (.py app)
      socket.addEventListener('message', ev => {
        log('<<< ' + ev.data); 
      });
    </script>
  </body>
</html>


