<!doctype html>
<html>
  <head>
    <title>Microdot WebSocket Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./mvp.css">
    <link rel="stylesheet" href="./style_v4ws.css">
  </head>
  <body>
    <main class="container">
      <div>
        <h1>LED WebSocket Demo</h1>
        <figure>
          <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
        </figure>
      </div>
      <div class="leds">
        <div class="led led_1">
        <input type="checkbox" id="stateCheckbox_1" class="visually-hidden"/>
        <label class="state-image_1" for="stateCheckbox_1">Yellow</label>
        <img src="off.svg" id="stateImage_1" height="100" width="100" alt="LED 1 off" />
      </div>
      <div class="led led_2">
        <input type="checkbox" id="stateCheckbox_2" class="visually-hidden"/>
        <label class="state-image_2" for="stateCheckbox_2">Green</label>
        <img src="off.svg" id="stateImage_2" height="100" width="100" alt="LED 2 off" />
      </div>
        <div class="led led_3">
        <input type="checkbox" id="stateCheckbox_3" class="visually-hidden"/>
        <label class="state-image_3" for="stateCheckbox_3">Red</label>
        <img src="off.svg" id="stateImage_3" height="100" width="100" alt="LED 3 off" />
      </div>
      <div class="led led_4">
        <input type="checkbox" id="stateCheckbox_4" class="visually-hidden"/>
        <label class="state-image_4" for="stateCheckbox_4">Blue</label>
        <img src="off.svg" id="stateImage_4" height="100" width="100" alt="LED 4 off" />
      </div>
      </div>
    </main>
    <script>
      // Array to store all checkboxes and create web socket
      const checkboxes = [];
      const socket = new WebSocket('ws://' + location.host + '/ws');


      // Array of 'on' image files
      const onImages = [
        "on_yellow.svg",
        "on_green.svg",
        "on_red.svg",
        "on_blue.svg",
      ];
      // Loop through all elements with class "led_"
      // Wait until page has loaded before proceding
      document.addEventListener('DOMContentLoaded', () => {
        const ledDivs = document.querySelectorAll(".led");  
      
        for (let i = 0; i < ledDivs.length; i++) {
          // Get checkbox and image elements
          const checkbox = ledDivs[i].querySelector("input[type='checkbox']");
          const img = ledDivs[i].querySelector("img");

          // Add checkbox div to array
          checkboxes.push({
            checkbox: checkbox,
            image: img,
            onImage: onImages[i] // Assign 'on" image
          });

        }

        // Loop through checkboxes array
        for (let i = 0; i < checkboxes.length; i++) {

          // Alias current checkbox 
          const {checkbox, image, onImage} = checkboxes[i];

          // Set initial state
          setStateImage(checkbox, image);

          // Add event listeners
          checkbox.addEventListener('change', () => {
            const resp = JSON.stringify({ "i":i, "checkbox":checkbox.checked});
            setStateImage(checkbox, image, onImage);
            socket.send(resp); 
          });

        }
      });

      function setStateImage(checkbox, image, onImage) {
        if (checkbox.checked) {
          image.src = onImage; 
        } else {
          image.src = "off.svg";
        }
      }
    </script>
  </body>
</html>


