{% args def_pins%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="mvp.css">
    <title>Pico W</title>
  </head>
  <body>
    <main>
      <h1> Pico W LED Demo v7</h1>
      <figure>
        <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
      </figure>
      <form action="control.html" method="POST">

        <label ><strong>Enter LED Label and Pico Pin:</strong></label>
        
        {% include "default_pins.tpl" def_pins %}

        <div align="left">
          <input type="submit" value="Setup">
        </div>

      </form>

    </main>
  </body>
</html>
