{% args max%}
<!doctype html>
<html>
  <head>
    <title>Microdot WebSocket Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./mvp.css">
    <link rel="stylesheet" href="./style_v6tta.css">
  </head>
  <body>
    <main class="container">
      <div>
        <h1>LED WebSocket Demo</h1>
        <figure>
          <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
        </figure>
      </div>

      <div>
        <label for="max">Number of timings</label>
        <input type="number" id="max" value="{{ max }}"/>
      </div>

      <button>
        <input type="checkbox" id="stateCheckbox" class="visually-hidden"/>
        <label class="state-image" for="stateCheckbox">Start/Stop</label>
      </button>

    </main>
    <script>
      // Connect to a WebSocket server at the 'ws' endpoint
      const socket = new WebSocket('ws://' + location.host + '/ws');

      // Number of times to loop before sending data
      // Also set in index.html and set_pico versions
      const max_sessions = document.getElementById('max').value;

      // Setup start checkbox with the name of 'stateCheckbox'
      const checkbox = document.getElementById('stateCheckbox');

      // When checkbox state changes, also send state to socket
      // 'true' for checked (on) and 'false' for unchecked (off)
      checkbox.addEventListener('change', () => {
        socket.send(checkbox.checked);
      });

      // JavaScript modification in the HTML file
      let elapsedTimes = []; // Array to hold the elapsed times

      // Function to send the array of elapsed times via WebSocket
      function sendElapsedTimes() {
          if (elapsedTimes.length > 0) {
              // Convert the array to a JSON string and send it
              socket.send(JSON.stringify(elapsedTimes));
              // Clear the array after sending
              elapsedTimes = [];
          }
      }

      // When the websocket receives an elapsed time from the Pi Pico
      // it adds it to the array instead of sending it immediately
      socket.addEventListener('message', event => {
          const elapsed = parseFloat(event.data); // Assuming the data is a string representing a float
          elapsedTimes.push(elapsed); // Add the elapsed time to the array

          // Optionally, you can send the data after accumulating a certain number of elapsed times
          if (elapsedTimes.length >= max_sessions) { 
          // max_sessions, see above for locations
              sendElapsedTimes();
          }
      });
    </script>
  </body>
</html>


