<!doctype html>
<html>
  <head>
    <title>Microdot WebSocket Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./mvp.css">
    <link rel="stylesheet" href="./style_v2ws.css">
  </head>
  <body>
    <main class="container">
      <div>
        <h1>LED WebSocket Demo v2</h1>
        <figure>
          <img src="computer.svg" height="300" width="300" alt="Pico W Icon" />
        </figure>
      </div>
      <div class="leds">
        <label>
          <input type="radio" name="state" value="1" class="visually-hidden" />
          <img src="on.svg" class="state-image" height="100" width="100" alt="LED on" />
        </label>

        <label>
          <input type="radio" name="state" value="0" class="visually-hidden" />
          <img src="off.svg" class="state-image" height="100" width="100" alt="LED off" />
        </label>
      </div>
    </main>
    <script>
      // 1. Connect to a WebSocket server at the 'ws' endpoint
      const socket = new WebSocket('ws://' + location.host + '/ws');

      // 2. Find all radio buttons with the input name of 'state'
      const radios = document.querySelectorAll('input[name="state"]');

      // 3. Loop through all radio buttons adding an 'click' event listener
      // when button clicked, send radio 'value' back to socket
      radios.forEach(radio => {
        radio.addEventListener('click', () => {
          socket.send(radio.value); 
        });
      });
    </script>
  </body>
</html>


