{% args type, row, col %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pico W</title>
    <link rel="stylesheet" href="bulma.min.css">
  </head>
  <body>
    <div class="container is-fluid is-mobile is-centered">
      <section class="columns ">
        <div class="column"></div>

        <div class="column">

          <div class="level">
            <div class="level-item has-text-centered">
              <figure class="image is-128x128">
                <img src="computer.svg" alt="Pico W Icon" />
              </figure>
            </div>
          </div>

          <form class="box" action="" method="POST">

            <div class="level">
              <div class="level-item has-text-centered">
                <div class="columns">
                  <div class="field is-grouped">
                    <div class="field-body">
                      <div class="field">
                        <div class="control">

                          <div class="column">
                            <div class="field is-grouped is-hortizontal">
                              {% if {{row}} == 0 and {{ col}} == 0 %}
                                {% if {{ type }} == 'R' %}
                                  {% include 'button.tpl' %}
                                  {% endif %}
                                {% else %}
                                  {% include 'mark.tpl' type %}
                                  {% endif %}
                                {% endif %}
                            {% include 'button.tpl' 'R', 0 %}
                            {% include 'button.tpl' 'R', 1 %}
                            {% include 'button.tpl' 'R', 2 %}
                          </div>
                        </div>


                          <div class="column">
                            <div class="field is-grouped is-hortizontal">

                          {% include 'button.tpl' 'R', 10 %}
                          {% include 'button.tpl' 'R', 11 %}
                          {% include 'button.tpl' 'R', 12 %}
                          </div>
                        </div>

                          <div class="column">
                            {% include 'button.tpl' 'R', 20 %}
                            {% include 'button.tpl' 'R', 21 %}
                            {% include 'button.tpl' 'R', 22 %}
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
                    <div class="control">
                      <input class="button is-primary" type="submit" value="Mark!">
                    </div>
          </form>

          <div class="column auto"></div>

        </section>
      </div>

  </body>
</html>
