.leds {
  inline-size: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.visually-hidden { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.state-image {
  cursor: pointer; 
}

.state-image:hover {
  outline: 4px solid blue;
}

input[type="radio"]:checked + .state-image {
  outline: 4px solid black;
}
